 <div class="icon-bar six-up">
   <a class="item">
     <i class="fi-home"></i>
     <label>Home</label>
   </a>
   
   <%= link_to(new_search_path, class: "item") do %>
     <i class="fi-magnifying-glass"></i>
     <label>Search</label>
   <% end %>      

   
 </div>
